In [4]:
import numpy as np 
a=np.array([1,2,3,4,5])
b=np.array([10,20,30,40,50])

In [5]:
print(a)

[1 2 3 4 5]

In [6]:
print(b)

[10 20 30 40 50]

In [9]:
print("The sum of a column is:",np.sum(a))

The sum of a column is: 15

In [10]:
print("The maximun value of b is",max(b))

The maximun value of b is 50

In [11]:
print("The manimun value of b is",min(b))

The manimun value of b is 10

In [20]:
print("ADD",a+b)

ADD [11 22 33 44 55]

In [21]:
print("SUB",b-a)

SUB [ 9 18 27 36 45]

In [22]:
print("MULTI",b*a)

MULTI [ 10  40  90 160 250]

In [24]:
print("DIV",b/a)

DIV [10. 10. 10. 10. 10.]

In [65]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [66]:
data={
    "Name":["Charan","Adi","Akasha","Parsa"],
    "reg num":[1,2,3,4],
    "marks":[70,30,90,85],
    "addres":["sirsi","Soraba","Soraba","Jade"]
}

In [67]:
df=pd.DataFrame(data)
df

     Name  reg num  marks  addres
0  Charan        1     70   sirsi
1     Adi        2     30  Soraba
2  Akasha        3     90  Soraba
3   Parsa        4     85    Jade

In [56]:
def add(x):
    return x+5
extramarks=df["marks"].map(add)
print("The extramarks of student records is:",extramarks)

The extramarks of student records is: 0    75
1    35
2    95
3    90
Name: marks, dtype: int64

In [68]:
def get (x):
    if x<40:
        return True
l1=df["marks"]
print(list(filter(get,l1)))

TypeError: 'Series' object is not callable

In [58]:
filter=df['marks']<40
print(filter)

0    False
1     True
2    False
3    False
Name: marks, dtype: bool

In [ ]:
plt.scatter(df["marks"],df["reg num"])
plt.show()

In [ ]:
c=df.groupby(["marks","reg num"]).size().unstack().plot(kind='bar')
                                                
plt.show()